In [6]:
data_dir = "C:/Users/ACER/Untitled Folder 1/data/"
train_path = data_dir + "train.jsonl"
test_path = data_dir + "test.jsonl"
dev_path = data_dir + "dev.jsonl"

In [7]:
import pandas as pd
import numpy as np
from tensorflow.keras.preprocessing import image
df_test = pd.read_json(test_path, lines=True)
df_test.head()

      id            img                                         text
0  16395  img/16395.png                     handjobs sold seperately
1  37405  img/37405.png         introducing fidget spinner for women
2  94180  img/94180.png  happy pride month let's go beat up lesbians
3  54321  img/54321.png       laughs in [majority of u.s crime rate]
4  97015  img/97015.png       finds out those 72 virgins.. are goats

In [15]:
df=df_test
df=df.drop(['img'], axis=1)

In [36]:
import os
import shutil
from collections import Counter
# Source and destination folders
source_folder = 'C:/Users/ACER/Untitled Folder 1/data/img'
destination_folder = 'C:/Users/ACER/Untitled Folder 1/data/test'

# List all files in the source folder
files = os.listdir(source_folder)

# Set to store unique image names
unique_names = set(df['id'])
freq=Counter(unique_names)

# Iterate through the files
for file in files:
    # Check if the file is an image (e.g., JPEG, PNG, etc.)
    
    # Extract the base name without the file extension
    name = os.path.splitext(file)[0]
    # Check if the name is unique
    if name in freq.keys():
        print(name)
        # Build the file paths for the source and destination
        source_path = os.path.join(source_folder, file)
        destination_path = os.path.join(destination_folder, file)
   
        # Move the file to the destination folder
        shutil.move(source_path, destination_path)

print('Images moved successfully.')

Images moved successfully.

In [32]:
df

        id                                               text
0    16395                           handjobs sold seperately
1    37405               introducing fidget spinner for women
2    94180        happy pride month let's go beat up lesbians
3    54321             laughs in [majority of u.s crime rate]
4    97015             finds out those 72 virgins.. are goats
..     ...                                                ...
995   3869    a mother's love for the child is a divine thing
996  23817                                        sea monkeys
997  56280               little miss muffet sat on her tuffet
998  29384                                   they're in a row
999  34127  that feeling when you win a fifa game after be...

[1000 rows x 2 columns]

In [33]:
df['img']=""

In [34]:
df.head()

      id                                         text img
0  16395                     handjobs sold seperately
1  37405         introducing fidget spinner for women
2  94180  happy pride month let's go beat up lesbians
3  54321       laughs in [majority of u.s crime rate]
4  97015       finds out those 72 virgins.. are goats

In [35]:
import numpy as np
from tensorflow.keras.preprocessing import image
img = []
# print(df_train.count())
for i in range(0, df_test.shape[0]):
    #print(i)
    im = image.load_img( data_dir+ df_test["img"][i], target_size=(299,299))
    img.append(im)

In [36]:
# load Inception model
from tensorflow.keras.applications.inception_v3 import InceptionV3
from tensorflow.keras.applications.inception_v3 import preprocess_input, decode_predictions
inception = InceptionV3(weights='imagenet')

In [37]:

for i in range(df_test.shape[0]):
    x = image.img_to_array(img[i]) #convert grey scale of RGB pixel array of (0,255)
    x = np.array([x]) # converting into list of each x

    x = preprocess_input(x) #normalize and scale RGB mean range btw[-1,1]
    preds = inception.predict(x)# predcting probabilty of each calss for the x
    predicted = decode_predictions(preds, top = 5)[0] # taking top 5 classes to consideration
    for j in range(0, 5):
#         print(df_train["text"][i] + " " + predicted[j][1])
        df['img'][i] = df["img"][i] + " " + predicted[j][1]

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [38]:
df.head()

,id,text,img
0,16395,handjobs sold seperately,wig hair_spray jersey hand_blower bookshop
1,37405,introducing fidget spinner for women,washer binoculars vending_machine coffee_mug ...
2,94180,happy pride month let's go beat up lesbians,sarong maillot wig gown bathing_cap
3,54321,laughs in [majority of u.s crime rate],comic_book Band_Aid web_site dumbbell cellula...
4,97015,finds out those 72 virgins.. are goats,barbershop bubble barber_chair neck_brace com...

In [39]:
df.to_csv('dataset_hmc_test.csv')